/* style.css */
* {
  font-family: system-ui;
}
@keyframes fadeIn {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.container-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produto {
  display: flex;
  animation: fadeIn 1.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.produto:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 1s;
}

header {
  background: rgb(241, 241, 241);
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(198, 205, 77, 1) 36%,
    rgba(204, 37, 37, 1) 95%
  );
  color: black;
  /*padding: 20px;*/
  height: 100%;
}

header img {
  width: 100px;
  height: auto;
}

header h1 {
  margin: 0;
}

/* nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
} */

/* nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
} */

section {
  padding: 20px;
}

.actived {
  background-color: purple;
  color: white;
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}
.menuItem {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}
.menuItem > a {
  text-decoration: none;
  color: white;
}
.menuItem:hover {
  transition: 0.3s;
  background-color: #125b80;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 5px;
  margin: 5px;
}
